.App {
    text-align: center;
    margin: 50px;
  }
  
  textarea {
    width: 300px;.App {
    text-align: center;
    margin: 50px;
  }
  
  textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  button {
    margin-bottom: 10px;
    border: 1px solid rgb(39, 37, 37);
    padding: 13px 30px;
    border-radius: 23px ;
    align-items: center;
    cursor: pointer;
    
  }
  .button-1{
    align-items: center;
  }

  .Count{

    text-align: center;
  }
  
    height: 100px;
    margin-bottom: 10px;
  }
  
  button {
    margin-bottom: 10px;
  }
  
